@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/** Navigation **/
.navbar {
    box-shadow: none;
    background: transparent;
}

.nav-link span {
    font-size: x-large;
}

.nav-brand span {
    font-size: x-large;
}

/** Page styling **/
h2 {
    color: #A7A5A5;
}

@media screen and (max-width: 639px) {
    /** header border **/
    hr {
        margin-left: 20px;
        margin-right: 20px;
    }

    /** self-image **/
    #self-image {
        width: 50%;
        height: 50%;
    }

    /** logo **/
    #logo {
        width: 60%;
        height: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

