@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/** picture animation **/
.container{
    perspective: 1000px;
}

.slider {
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
    border: 10px solid #fff;
}

.slide {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide.visible-picture {
    opacity: 1;
}

.slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
